*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(59, 31, 31);
}
header{
    display: flex;
    min-height: 70px;
    background-color: #240202;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 200px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: white;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: rgb(136, 91, 91);
}