
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(59, 31, 31);
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    min-height: 70px;
    background-color: #240202;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}